#all{
    width: 700px;
    height: 550px;
    background-color:rgb(62, 78, 79);
    margin: auto;
    position: relative;
}

#table{
    width: 200px;
    height: 400px;
    position: relative;
    left: 250px;
    bottom: 380px;
}

#tablo{
    width: 400px;
    height: 400px;
    color: white;
}

